#banner{

  color:brown;
  text-align: center;
  background-color: lightgrey;
  margin-left:300px;
  margin-right:300px;

}
#second
{
  background-color:red;
  border-style:double;
  text-align:left;
  margin-left:300px;
  margin-right:300px;
  padding:50px 300px 100px 10px;

}
h1.text{

  text-align: center=;
  font-size: 7px;
}
#b{
  font-size:40px;
  text-align:center;
  font-style:italic;

}
#butn{
  font-size:20px;

  font-color:white;

}
#whole
{
background-color:lightgrey;
float: right;
}
.Demo
{
  float=right;
  position: fixed;
   bottom: 560px;
   right: 100px;
}
.demo1{
  float:left;
}
.demo2
{
  float:right;

  position: fixed;
   bottom: 560px;
   right: 100px;
}
